.app_purple_theme {
  --bg-color: #f3f1f8;
  --inverted-bg-color: #441bb5;
  --primary-color: #15438a;
  --secondary-color: #15438a;
  --inverted-primary-color: #f3f1f8;
  --inverted-secondary-color: #15438a;
}

// F3F1F8
