.app_purple_theme {
    --bg-color: #F3F1F8;
    --inverted-bg-color:#441bb5;
    --primary-color: #15438A;
    --secondary-color: #15438A;
    --inverted-primary-color: #F3F1F8;
    --inverted-secondary-color: #15438A;

   
}


// F3F1F8